<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibraryMembers.Properties.Settings.LibraryMembersConnectionString" connectionString="Data Source=(local);Initial Catalog=LibraryMembers;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true"><!-- این بخش اضافه شد و مشکل حل شد -->
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
<!--موفق باشید-->